In [1]:
import duckdb
import pandas as pd
df = pd.DataFrame()
def query(query, db_path='../data/datalake/database.duckdb'):
    con = duckdb.connect(database=db_path, read_only=False)
    try:
        result = con.execute(query)
        df_result = result.fetch_df()
        return df_result
    except Exception as e:
        print(f"error: {e}")
    finally:
        con.close()
query("CREATE TABLE bronze_layer AS SELECT * FROM read_csv_auto('../data/datalake/time_rows.csv');")

     Count
0  1927564

In [2]:
query("select * from bronze_layer")

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
0,HKI,1,FI,DEPARTURE,1,1.0,10,0,2023-11-01 04:55:00,2023-11-01 04:55:21,0.0,[],1,"{'source': KUPLA, 'accepted': true, 'timestamp...",NaT,None
1,PSL,10,FI,ARRIVAL,1,1.0,4,0,2023-11-01 05:00:00,2023-11-01 05:00:14,0.0,[],1,None,NaT,None
2,PSL,10,FI,DEPARTURE,1,1.0,4,0,2023-11-01 05:01:00,2023-11-01 05:01:45,1.0,[],1,None,NaT,None
3,KÄP,977,FI,ARRIVAL,0,NaN,None,0,2023-11-01 05:03:00,2023-11-01 05:04:00,1.0,[],1,None,NaT,None
4,KÄP,977,FI,DEPARTURE,0,NaN,None,0,2023-11-01 05:03:00,2023-11-01 05:04:00,1.0,[],1,None,NaT,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927559,MSO,78,FI,ARRIVAL,0,NaN,None,0,2023-11-30 08:07:25,2023-11-30 07:34:57,-32.0,[],76045,None,NaT,None
1927560,MSO,78,FI,DEPARTURE,0,NaN,None,0,2023-11-30 08:07:25,2023-11-30 07:34:57,-32.0,[],76045,None,NaT,None
1927561,KR,60,FI,ARRIVAL,1,0.0,4,0,2023-11-30 08:21:18,NaT,-32.0,[],76045,None,2023-11-30 07:48:51,LIIKE_AUTOMATIC
1927562,KR,60,FI,DEPARTURE,1,0.0,4,0,2023-11-30 08:33:18,NaT,-32.0,[],76045,None,2023-11-30 08:00:51,LIIKE_AUTOMATIC
1927563,IKO,62,FI,ARRIVAL,1,1.0,2,0,2023-11-30 08:48:41,2023-11-30 07:58:52,-50.0,[],76045,None,NaT,None